rich
numpy
pandas
pycirclize
psutil
scikit-learn
scikit-image
scipy
shapely
matplotlib
networkx
openai>=1.0.0
seaborn
scanpy
pyXenium @ git+https://github.com/hutaobo/pyXenium.git
trimesh>=4.0.0
setuptools
xsdata-pydantic
myst-parser
sphinx-rtd-theme
